.header
	height: 78px

.header-content
	padding-top: 16px
	padding-bottom: 16px
	display: flex
	justify-content: space-between
	align-items: center

.header-second-line
	height: 60px

	background: $color-background
	padding-top: 21px
	padding-bottom: 19px
.header-flex-block
	display: flex
	justify-content: space-between
	align-items: center

.header-logo img
	width: 220px
	height: 44.69px

.header-contacts
	display: flex
	align-items: center
	margin-right: 35px

.header-contact,
.header-fuel,
.header-price
	font-family: $fontFamily
	font-style: normal
	font-weight: 600
	font-size: 15px
	line-height: 18px
	color: $color-black

.photo-phone
	width: 20px
	height: 20px
	display: inline-block
	margin-right: 12px

.tel-text
	font-family: $fontFamily
	font-style: normal
	font-weight: 600
	font-size: 18px
	line-height: 22px
	color: $color-black

.header-block
	display: flex
	align-items: center

.header-buttons
	display: flex
	align-items: center

.button-login img
	margin-right: 10px
	display: inline-block

.header-cards select,
.header-company select,
.header-azs select
	background: $color-background
	cursor: pointer
	font-family: $fontFamily
	font-style: normal
	font-weight: 600
	font-size: 15px
	line-height: 18px
	color: $color-black
