@import 'Styles/common/_vars.sass'

.wrapper
	max-width: $pageWidth
	margin: 0 auto
	@media only screen and (min-width: $mobile-s) and (max-width: $tablet-l)
		padding-left: 15px
		padding-right: 15px
	//@media only screen and (max-width: $desktop-m)
	//	max-width: $pageWidthSmallDesktop
	//@media only screen and (max-width: $desktop-s)
	//	max-width: $pageWidthMiddleTablet

	//@media only screen and (min-width: $mobile-s) and (max-width: $tablet-l)
	//	max-width: $pageWidthMobile
	//	padding-left: 15px
	//	padding-right: 15px
	//@media only screen and (min-width: $tablet-l) and (max-width: $desktop-s)
	//	max-width: $pageWidthTablet
	//	padding-left: 60px
	//	padding-right: 60px
	//@media only screen and (min-width: $desktop-s) and (max-width: $desktop-m)
	//	max-width: $pageWidth
	//	//padding-left: 80px
	//	//padding-right: 80px
	//@media only screen and (min-width: $desktop-m) and (max-width: $desktop-l)
	//	max-width: $pageWidth
	//	//padding-left: 100px
	//	//padding-right: 100px
	//@media only screen and (min-width: $desktop-l)
	//	max-width: $pageWidth
	//	//padding-left: 0
	//	//padding-right: 0
	//	margin: 0 auto
